    <!-- footer -->
    <div class="Container">
        <div class="footer py-3">
            <div class="col text-center">
                <hr class="col hr mt-5">
            </div>
            <!-- mail -->
            <div class="row mx-4">
                <div class="col-md-4 mx-4">
                    <h5 class="mai">Copyright| MaliTourisme - 2022</h5>
                </div>
                <!-- reseau sociaux -->
                <div class="col-md-2 offset-md-5 rs">
                    <div class="row text-center">
                        <div class="col-sm-3 col-md-2">
                            <i class="bi bi-facebook fa-2x"></i>
                        </div>
                        <div class="col-sm-3 col-md-2 offset-md-1">
                            <i class="bi bi-envelope fa-2x"></i>
                        </div>
                        <div class="col-md-2 offset-md-1">
                            <i class="bi bi-instagram fa-2x"></i>
                        </div>
                        <div class="col-md-2 offset-md-1">
                            <i class="bi bi-twitter fa-2x"></i>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
