.footer{
    background: #6D4D33;
}
.hr{
    width: 90%;
    color: white;
    size: 2px;
    margin-right: auto;
    margin-left: auto;
}
.mail{
    font-size: 14px;
}
.bi{
    color: #000;
}
.bi:hover {
    color: #fff;
  }
