

<div class="Container-fluid">
<!-- <app-navbar></app-navbar> -->

    <div class="col-md-11 py-2 mx-auto mb-2 tab">
        <h1 class="mx-5">Region</h1>
        <div class="row">

            <div class="col-md-4 mb-2">
                <div class="card mx-auto" style="width: 18rem;">
                    <div class="row" >
                        <div class="col-md-6" >
                            <div class="card-body">
                                <h5 class="card-title">Mali</h5>
                                <h6 class="card-subtitle mb-2 text-muted" style="color: red!important;">Bamako</h6>
                            </div>
                        </div>
                        <div class="col-md-6" >
                            <div class="card-body">
                                <img src="assets/drap.jpg" class="card-img-top" alt="mali">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-2">
                <div class="card mx-auto" style="width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-title">Mali</h5>
                        <h6 class="card-subtitle mb-2 text-muted" style="color: red!important;">region</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-2">
                <div class="card mx-auto" style="width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-title">Mali</h5>
                        <h6 class="card-subtitle mb-2 text-muted" style="color: red!important;">habitants</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class=" col-md-11 mx-auto mb-5 tabl">


        <div class="row mt-4 mb-2 ">
        </div>
        <div class="table-responsive-sm mx-auto mb-5 tb">
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-2" style="width: 20rem;">
                        <div class="card-body mx-auto">
                            <h5 class="card-title">Ajouter une region ou un pays</h5>
                                <div class="">
                                    <button class="btn" data-toggle="modal" data-target="#region" data-whatever="@mdo">ajouter</button>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 offset-md-4">
                    <form class="d-flex text-end mt-5 pt-4 mb-2">
                        <input type="search" class="form-control sh mx-auto" placeholder="Recherchez une dette">
                        <button class="btn" type="submit">Rechercher</button>
                      </form>
                </div>
            </div>
            <table class="table mx-auto mb-5">
            <thead>
              <tr class="tables" >
                <th scope="col" style="border-radius: 10px 0 0 0 ;">Nom</th>
                <th scope="col">C_region</th>
                <th scope="col">Superficie</th>
                <th scope="col">Activite</th>
                <th scope="col">Langue</th>
                <th scope="col">Population</th>
                <th scope="col">Année</th>
                <th scope="col" style="border-radius: 0 10px 0 0 ;">Action
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let listes of maPop">
                <th scope="row">{{listes[6]}}</th>
                <td>{{listes[3]}}</td>
                <td>{{listes[4]}}</td>
                <td>{{listes[5]}}</td>
                <td>{{listes[2]}}</td>
                <td>{{listes[1]}} hbts</td>
                <td>{{listes[0]}}</td>
                <td><a routerLink="['', 'listes.id']">modifier</a>  <a href="liste.id">supprimer</a></td>
              </tr>
            </tbody>
            </table>
        </div>
      </div>

    <app-footer></app-footer>
</div>

<!-- le modal pour le pays -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog " role="document">
      <div class="modal-content mod">
        <div class="modal-header">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="title">Pays</h5>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn" data-toggle="modal" data-target="#region" data-whatever="@mdo">Region</button>
                </div>
            </div>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

                <div class="col-md-12 main mb-5">
                    <h3 class="text-center mt-3 mb-5">Ajouter population</h3>
                    <form >

                            <div class="row mb-2">
                                <label class="label col-md-3 label-control">Année<span style="color: red;">*</span></label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" [(ngModel)]="annee" name="annee" placeholder="annee">
                                </div>
                            </div>
                            <div class="row mb-2">
                              <label class="label col-md-3 label-control">Habitants<span style="color: red;">*</span></label>
                              <div class="col-md-9">
                                  <input type="text" class="form-control" [(ngModel)]="habitants" name="habitants" placeholder="habitants">
                              </div>
                          </div>
                            <div class="row mb-2">
                              <label class="label col-md-3 label-control">Region<span style="color: red;">*</span></label>
                              <div class="col-md-9">
                                <select class="col form-select" aria-label="select example"[(ngModel)]="id" name="id">
                                  <option selected>--Choisir region--</option>
                                  <option *ngFor="let listeregion of liste" value="{{listeregion.id}}">{{listeregion.langue}}</option>
                                </select>
                              </div>
                            </div>

                            <div class="row mt-5 mb-5 mx-auto d-block">
                                <button type="submit" (click)="population()" class="btn btn-outline-primary mx-auto d-block">Ajouter</button>
                            </div>

                    </form>
        </div>
        </div>

      </div>
    </div>
  </div>

  <!-- le modal pour le la region -->
<div class="modal fade" id="region" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog " role="document">
      <div class="modal-content mod">
        <div class="modal-header">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="title">Region</h5>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" data-dismiss="modal">population</button>
                </div>
            </div>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

            <div class="col-md-12 main">
                <h3 class="text-center mt-3 mb-5">Ajouter Region</h3>
                <form>

                        <div class="row mb-2">
                            <label class="label col-md-4 label-control">Nom<span style="color: red;">*</span></label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="Nom de la region"
                                  name="nom" [(ngModel)]="nom">
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label class="label col-md-4 label-control">Code region<span style="color: red;">*</span></label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="code region"
                                name="coderegion" [(ngModel)]="coderegion">
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label class="label col-md-4 label-control">Superficie<span style="color: red;">*</span></label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="Superficie"
                                name="superficie" [(ngModel)]="superficie">
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label class="label col-md-4 label-control">Activité<span style="color: red;">*</span></label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="Domaine activite"
                                name="activite" [(ngModel)]="activite">
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label class="label col-md-4 label-control">Langue<span style="color: red;">*</span></label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="Langue parlée"
                                name="langue" [(ngModel)]="langue">
                            </div>
                        </div>
                        <div class="row mb-2">
                          <label class="label col-md-4 label-control">Description<span style="color: red;">*</span></label>
                          <div class="col-md-8">
                              <textarea type="text" class="form-control" placeholder="Donner une description de la region"
                              name="description" [(ngModel)]="description"></textarea>
                          </div>
                        </div>
                        <div class="row mb-2">
                          <div class="mb-3">
                            <label for="formFileSm" class="label col-md-4 form-label">Small file input</label>
                            <input class="form-control form-control-sm" id="formFileSm" accept="image/png, image/jpeg" type="file" formControlName="img" name="img" (change)="filechange($event)">
                          </div>
                        </div>

                        <div class="row mt-5 mb-5 mx-auto d-block">
                            <button type="submit" (click)="getRegionFormData()" class="btn btn-outline-primary mx-auto d-block">Ajouter</button>
                        </div>
                        <div class="bg-success" *ngIf="message">
                          {{message}}
                        </div>

                </form>

            </div>
        </div>

      </div>
    </div>
  </div>








