<div class="Container-fluid">
    <h2>Region</h2>

    <div class=" col-md-11 mx-auto tabl">

        <div class="row">
          <div class="col-12 col-md-8 mx-3  boite">
            <p>Ici la liste de vos dettes !</p>
          </div>
          <div class="col-12 col-md-3 ml-5  boite">
            2
          </div>
        </div>

        <div class="row mt-4 mb-2 ">
          <div class="col-4 offset-md-8">
            <form class="d-flex text-end">
              <input type="search" class="form-control me-2 sh" placeholder="Recherchez une dette">
              <button class="btn btn-outline-success" type="submit">Rechercher</button>
            </form>

          </div>
        </div>
        <div class="table-responsive-sm mx-auto tb">
        <table class="table mx-auto ">
            <thead>
              <tr class="tables">
                <th scope="col" style="border-radius: 10px 0 0 0 ;">Nom</th>
                <th scope="col">C_region</th>
                <th scope="col">Superficie</th>
                <th scope="col">Population</th>
                <th scope="col">Activite</th>
                <th scope="col">Langue</th>
                <th scope="col" style="border-radius: 0 10px 0 0 ;">Action
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    <!-- les formulaire -->
    <div class="row ro1">

            <div class="col-md-6 cl">
                <div class="col-md-9 main mb-5">
                    <h3 class="text-center mt-3 mb-5">Ajouter Region</h3>
                    <form class="">

                            <div class="row mb-2">
                                <label class="label col-md-4 label-control">Nom<span style="color: red;">*</span></label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" placeholder="Nom de la region">
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label class="label col-md-4 label-control">Code region<span style="color: red;">*</span></label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" placeholder="code region">
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label class="label col-md-4 label-control">Superficie<span style="color: red;">*</span></label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" placeholder="Superficie">
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label class="label col-md-4 label-control">Population<span style="color: red;">*</span></label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" placeholder="population">
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label class="label col-md-4 label-control">Activité<span style="color: red;">*</span></label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" placeholder="Domaine activite">
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label class="label col-md-4 label-control">Langue<span style="color: red;">*</span></label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" placeholder="Langue parlée">
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label class="label col-md-4 label-control">Pays<span style="color: red;">*</span></label>
                                <select class="col-md-7 mx-3 form-control ">
                                    <option selected>--Choisir pays--</option>
                                    <option value="1">One</option>

                                </select>
                            </div>


                            <div class="row mt-5 mb-5 mx-auto d-block">
                                <button type="submit" class="btn btn-outline-primary mx-auto d-block">Ajouter</button>
                            </div>

                    </form>

                </div>
            </div>

            <div class="col-md-4 ">
                    <div class="col-md-12 main mb-5">
                        <h3 class="text-center mt-3 mb-5">Ajouter Pays</h3>
                        <form class="">

                                <div class="row mb-2">
                                    <label class="label col-md-3 label-control">Nom<span style="color: red;">*</span></label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" placeholder="Nom du pays">
                                    </div>
                                </div>
                                <div class="row mt-5 mb-5 mx-auto d-block">
                                    <button type="submit" class="btn btn-outline-primary mx-auto d-block">Ajouter</button>
                                </div>

                        </form>

                    </div>
            </div>

    </div>

</div>







