
.Container-fluid
{
    background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),  url("/../assets/hist.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1{
    color: white;
}
 //au niveau du popup
 .mod
{
    margin-top: 20px;
    position: absolute;
}
.title{
    color: #4464ad;
}
//===========

//le formulaire
.cl{
    margin-left: 10%;
}
.ro1{
    position: relative;
    top: 0;
}
.main{
    background: rgba(0,0,0,0.8);
    padding: 10px;

 }


 .label{
     font-weight: normal;
     margin-top: 15px;
     color: white;
     font-size: 20px;
 }
 h3, h6{
     color: white!important;
 }

 .form-control{
     border: none;
     background: transparent;
     border-radius: 0;
     border-bottom: 1px solid white;
     font-size: 18px;
     margin-top: 8px;
     height: 40px;
     color: white;
 }
 .btn{
     border: 2px solid white;
     color: white;
     font-size: 20px;
     border-radius: 5px;
 }
 .btn:hover{
     background: #007bff;
 }
 .tb{
    width: 90%;
 }
 //===========


 @media only screen and (max-width: 767px) {
     .ro1 {
         width: 100%;
         margin-left: auto;
         margin-right: auto;
         position: relative;
     }
     .cl{
        margin-left: 0;
    }
    .tb{
        width: 90%;
        margin-left: 5px;
        margin-right: 5PX;
        position: relative;
     }
 }

// la partie du tableau css
.tabl{
    margin-top: 80px;
    background: #a4b0f5;
    border-radius: 10px;
    padding: 15px;
    width: auto;
  }

  .tables{
    height: 50px;
    border-top: transparent;
    background-color: #4464ad;
    color: white!important;
    border-radius: 20px 20px 0 0;
  }
  .sh{
    border: 1px solid black;
    color: black!important;
    border-radius: 5px;
  }
  button{
    background: none;
    border: 1px solid #f58f29!important;
    color: black!important;
  }
  button:hover{
    background: #f58f29!important;
    color: #fff!important;
  }
  .card{
    color: black;
  }
  //===============================

