.navbar {
  background-color: #4464ad;
  font-size: 12px;
  border-bottom: 1px solid #fff;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: bold;
}
.nav-pills .nav-link{
  color: #fff !important;
  // text-align: center;
}
.nav-pills .nav-link.active,  .nav-pills .nav-link:hover{
  color: #fff !important;
  background-color: #ff6700 !important;
}
.navbar-toggler{
  color: #ff6700 !important;
  border-style: none;
}
